<div class="blog-top-content-holder relative">

    <div class="header-holder">
        <div class="toggle-holder relative right">
            <div id="toggle" class="">
                <div class="first-menu-line"></div>
                <div class="second-menu-line"></div>
                <div class="third-menu-line"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">About</h1>
    </div>
    <div class="clear"></div>
</div>
<article id="post-1" class="entry-holder blog-item-holder has-post-thumbnail">
    <div class="entry-content relative">
        <div class="content-1170 center-relative center-text">
            <div>
                1. Carbon credits are becoming an important motive for incentivizing home energy improvement.
                <br/>
                2. There is no current platform for streamlining the buying and trading of carbon credits, particularly in the housing segment where the amount of carbon credit awarded may not be optimal.
                <br/>
                3. This solution utilizes the inherent decentralization of Blockchain to pool together carbon credits from home energy improvement.
                <br/>
                4. Thus,  it is possible to finance a larger amount of other home improvement projects, via this carbon trading platform.
            </div>
            <div class="clear"></div>
        </div>
    </div>
</article>